footer {
  background-color: var(--darkBlue-color);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.site-links-container {
  margin-top: 40px;
}

.link-list > li > a {
  text-decoration: none;
  color: var(--sand-color);
  font-weight: 800;
  font-size: 17px;
  line-height: 40px;
}

.copyright-links {
  text-decoration: none;
  color: var(--sand-color);
  font-size: 15px;
  line-height: 40px;
  margin-left: 40px;
}
