:root {
  --darkBlue-color: #001233;
  --orange-color: #fe5000;
  --banner-color: #a1d5cc;
  --sand-color: #efe0ca;
}

.banner {
  background-color: var(--banner-color);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkBlue-color);
  font-size: 12px;
  font-weight: 600;
  border: none;
}

.announcement {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 100px;
}

.close-button {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15px;
}

.close-button > p {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.close-button > p:hover {
  background-color: lightcoral;
  color: rgb(104, 1, 1);
}

/*Styling for the navidation bar goes below*/
.navbar {
  width: 100%;
  height: 80px;
  background-color: var(--darkBlue-color);
  position: sticky;
  color: var(--orange-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  line-height: 15px;
  font-weight: 900;
  font-size: 20px;
  margin-left: 25px;
}

.menu-selection > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  color: var(--orange-color);
  font-weight: 700;
}

.nav-link:hover {
  color: var(--sand-color);
}

.checkout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
.checkout-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--sand-color);
  font-weight: 700;
  font-size: 13px;
  padding: 10px;
}

.checkout-link:hover {
  color: var(--orange-color);
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}
/*Styling for hero section goes below */
.hero {
  width: 100vw;
  height: 55vh;
  display: flex;
  flex-direction: row;
}

.hero-cta {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: var(--darkBlue-color);
  color: var(--orange-color);
  padding-right: 50px;
}

.hero-text {
  margin-left: 70px;
}

.hero-text > h2 {
  font-weight: 900;
  font-size: 55px;
  line-height: 60px;
}
.hero-text > p {
  color: var(--sand-color);
  font-size: 15px;
  line-height: 35px;
}
.hero-subtext {
  font-weight: 700;
}

.hero-img {
  width: 50%;
  background-color: var(--sand-color);
}

.cta-button {
  background-color: var(--orange-color);
  font-weight: 700;
  font-size: 20px;
  border: none;
  width: 250px;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background-color 0.75s;
}

.cta-button:hover {
  cursor: pointer;
  background-color: var(--sand-color);
}
