:root {
  --darkBlue-color: #001233;
  --orange-color: #fe5000;
  --banner-color: #a1d5cc;
  --sand-color: #efe0ca;
  --white-color: white;
  --lightsand-color: #f9f3ea;
}

.banner {
  background-color: var(--banner-color);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkBlue-color);
  font-size: 12px;
  font-weight: 600;
  border: none;
}

.announcement {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 100px;
}

.close-button {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15px;
}

.close-button > p {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.close-button > p:hover {
  background-color: lightcoral;
  color: rgb(104, 1, 1);
}

/*Styling for hero section goes below */
.hero {
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: row;
}

.hero-cta {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: var(--darkBlue-color);
  color: var(--orange-color);
  padding-right: 50px;
}

.hero-text {
  margin-left: 70px;
}

.hero-text > h2 {
  font-weight: 900;
  font-size: 55px;
  line-height: 60px;
}
.hero-text > p {
  color: var(--sand-color);
  font-size: 15px;
  line-height: 35px;
}
.hero-subtext {
  font-weight: 700;
}

.hero-img {
  width: 50%;
  background-color: var(--sand-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  height: 70%;
  width: 60%;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
}

.cta-button {
  background-color: var(--orange-color);
  font-weight: 700;
  font-size: 20px;
  border: none;
  width: 250px;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background-color 0.75s;
}

.cta-button > a {
  text-decoration: none;
  color: var(--darkBlue-color);
}

.cta-button:hover {
  cursor: pointer;
  background-color: var(--sand-color);
}
