.compare-section {
  background-color: var(--lightsand-color);
  height: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.compare-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 60px;
  padding-top: 40px;
}

.item-photo-one {
  height: 500px;
  width: 500px;
  background-color: rgb(45, 151, 45);
}

.item-photo-two {
  height: 500px;
  width: 500px;
  background-color: rgb(69, 167, 206);
}

.pic-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

h4 {
  font-size: 30px;
  margin: 5px;
}

.benefit-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-cta {
  width: 130px;
  font-weight: 600;
  height: 40px;
  background-color: var(--darkBlue-color);
  color: var(--sand-color);
  border: none;
  transition: background-color 0.75s;
}

.item-cta:hover {
  cursor: pointer;
  background-color: var(--orange-color);
  color: var(--darkBlue-color);
}

.item-benefits {
  width: 80%;
}

.item-benefits > h3 {
  font-size: 50px;
  width: 100%;
}

hr {
  height: 2px;
  background-color: var(--sand-color);
  border: none;
  margin: 0px 0px 25px 0px;
}

.compare-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.compare-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  font-size: 20px;
  list-style-type: none;
  color: rgb(1, 88, 1);
}

.benefit-checklist > li::before {
  content: "✔️ ";
}
