.item-carousal {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  height: 700px;
}

.inner-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 90%;
}

h3 {
  font-weight: 900;
  font-size: 35px;
  margin-left: 15px;
}

.item-menu-access {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-card {
  margin-top: 30px;
}

.item-menu-btn {
  width: 160px;
  height: 50px;
  background-color: var(--darkBlue-color);
  border: none;
  margin-right: 60px;
  transition: background-color 0.75s;
}

.item-menu-btn > a {
  text-decoration: none;
  color: var(--sand-color);
  font-weight: 600;
}

.item-menu-btn:hover {
  cursor: pointer;
  background-color: var(--orange-color);
  color: var(--darkBlue-color);
}

.item-menu-btn > a:hover {
  color: var(--darkBlue-color);
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 15px 15px 15px;
  width: 275px;
  height: 350px;
}

.item-img {
  height: 275px;
  background-color: var(--sand-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card-img {
  height: 70%;
  width: 60%;
  box-shadow: 5px 10px #888888;
  border-radius: 10px;
}

.item-title {
  font-weight: 500;
}

.item-title > a {
  text-decoration: none;
  color: var(--darkBlue-color);
}

.item-title > a:hover {
  color: var(--orange-color);
}

.item-description,
.item-price {
  font-weight: 300;
}

.round-selectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.round-selector {
  width: 10px;
  height: 10px;
  background-color: var(--sand-color);
  margin: 3px;
  border-radius: 5px;
}

.round-selector:hover {
  background-color: var(--darkBlue-color);
  cursor: pointer;
}

.right-select,
.left-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
  background-color: var(--darkBlue-color);
  color: var(--sand-color);
}

.right-select,
.left-select > p {
  font-size: 30px;
}

.left-select {
  position: relative;
  top: 170px;
}

.right-select {
  position: relative;
  top: 105px;
  right: 40px;
}
