.item-disp-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 40px;
}

.item-Disp-container {
  display: flex;
  flex-direction: row;
}

.photo-carousal {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.main-item-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-item {
  width: 500px;
  height: 500px;
  background-color: var(--sand-color);
  margin: 10px;
}

.sm-photo {
  height: 80px;
  width: 80px;
  background-color: green;
  margin: 10px;
}

/*Item Description styling goes below*/

.item-disp-title {
  font-weight: 900;
  font-size: 30px;
  color: var(--darkBlue-color);
  margin: 0px;
}

.item-disp-desc {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-price {
  margin-bottom: 20px;
}

.quantity-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.quant-title {
  font-weight: 600;
  font-size: 14px;
  color: var(--darkBlue-color);
  margin: 0px 0px 10px 0px;
}

.quatity-box {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
}

.quant-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid lightgray;
  height: 60px;
  width: 80px;
}

.number-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.count-direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-up,
.count-down {
  height: 100%;
  background-color: white;
  border: solid 1px lightgray;
  width: 100%;
}

.count-up:hover,
.count-down:hover {
  background-color: rgb(225, 238, 242);
  cursor: pointer;
}

.count-cta {
  background-color: var(--darkBlue-color);
  color: var(--sand-color);
  font-weight: 600;
  font-size: 20px;
  border: none;
  margin: 0px 15px;
  height: 60px;
  width: 200px;
  transition: background-color 0.75s;
}

.count-cta:hover {
  background-color: var(--orange-color);
  color: var(--darkBlue-color);
  cursor: pointer;
}

.item-descriptioin-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  margin-bottom: 130px;
}

.item-description {
  color: var(--darkBlue-color);
  font-size: 14px;
  margin-bottom: 10px;
}

#item-list-info {
  color: var(--darkBlue-color);
  font-size: 14px;
}

/*CTA section code goes below*/
.cta-container {
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cta-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 100px;
}

.cta-title {
  color: var(--darkBlue-color);
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}

.cta-heading {
  color: var(--darkBlue-color);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}

.cta-subheading {
  font-size: 14px;
  font-weight: 300;
  color: var(--darkBlue-color);
  margin-bottom: 20px;
}

.product-cta {
  color: var(--sand-color);
  background-color: var(--darkBlue-color);
  border: none;
  font-size: 25px;
  font-weight: 600;
  padding: 15px 25px 15px 25px;
  transition: background-color 0.75s;
}

.cta-pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-square {
  background-color: darkcyan;
  width: 300px;
  height: 300px;
}

.product-cta:hover {
  background-color: var(--orange-color);
  color: var(--darkBlue-color);
  cursor: pointer;
}

.cta-square-image {
  height: 100%;
  width: 100%;
}

/*product benefit styling goes below*/
.pbContainer {
  height: 450px;
  background-color: var(--lightsand-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pbTtileBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pbTtile {
  color: var(--darkBlue-color);
  font-size: 40px;
  font-weight: 800;
}

.pbboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pbBox {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.pbPhoto {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  background-color: red;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pbIcon {
  font-size: 55px;
}

.pbBoxtitle {
  color: var(--darkBlue-color);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.pbBoxSubTitle {
  color: var(--darkBlue-color);
  font-size: 12px;
}

/* Item description styling goes below */

.itemInfoContainer {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemInfoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-top: solid 1px black;
  width: 80%;
}

.itemInfoText {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemsInfoDescriptionTitle {
  font-size: 30px;
  font-weight: 700;
  color: var(--orange-color);
  margin: 10px 0px 10px 0px;
}

.itemsInfoDescriptionIcon {
  font-size: 25px;
  color: var(--orange-color);
  margin: 10px 0px 10px 0px;
}

.itemsInfoDescriptionIcon:hover {
  cursor: pointer;
}

.itemInfoDescription {
  font-size: 15px;
  color: var(--darkBlue-color);
}
