.banner-container {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--sand-color);
}

.banner-title {
  color: var(--darkBlue-color);
  font-size: 45px;
  margin-left: 60px;
}

.category-container {
  border-bottom: solid 1px lightgray;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category-list > li {
  margin: 0px 15px 0px 15px;
  color: var(--darkBlue-color);
  font-weight: 700;
  font-size: 15px;
}

.category-list > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.shoptext-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.shoptext-innerbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.shoptext-innerbox > h3 {
  color: var(--darkBlue-color);
  font-weight: 900;
  font-size: 35px;
  line-height: 50px;
  margin-left: 0px;
}

.shoptext-innerbox > p {
  color: var(--darkBlue-color);
  font-weight: 300;
  font-size: 15px;
  line-height: 50px;
  margin-top: 10px;
}
