.two-items {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--darkBlue-color);
}

.item-one {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.item-two {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.item-round-pic1 {
  width: 200px;
  height: 200px;
  background-color: green;
  border-radius: 100px;
  margin: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

.item-headline {
  color: var(--sand-color);
  font-weight: 800;
  font-size: 35px;
}

.item-headline-two {
  color: var(--sand-color);
  font-weight: 600;
  font-size: 15px;
  margin-top: 25px;
}

.item-cta2 {
  height: 60px;
  width: 250px;
  background-color: var(--orange-color);
  border: none;
  color: var(--darkBlue-color);
  font-weight: 600;
  font-size: 25px;
  margin-top: 15px;
  transition: background-color 0.75s;
}

.item-cta2:hover {
  background-color: var(--sand-color);
  cursor: pointer;
}

.item-round-pic2 {
  width: 200px;
  height: 200px;
  background-color: rgb(41, 159, 209);
  border-radius: 100px;
  margin: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twoprod-img {
  height: 90%;
  width: 90%;
  border-radius: 50%;
}
